.csproj
UserSettings
Temp
ProfileAnalyzer
Logs
obj
TheWarOfMultiverseCommonConfig.sln
TheWarOfMultiverseMap.sln
DamageSystem.csproj
DataStructSystem.csproj
GameManagerSystem.csproj
IDSystem.csproj
InterfaceConfig.csproj
ItemSystem.csproj
mono_crash.mem.7874.1.blob
MonsterSystem.csproj
NewAssembly.csproj
PickUpSystem.csproj
PlayerSystem.csproj
ScriptableObjects.csproj
ServerSystem.csproj
SpellSystem.csproj
spine-unity-editor.csproj
spine-unity.csproj
UISystem.csproj
*.sln
.vs
.vscode
Library
*.csproj
*.DS_Store
ProjectSettings
